:root {
  --main-font: "Poppins", sans-serif;
}
body {
  font-family: var(--main-font);
  background-color: white;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/images/panorama.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 160px 0;
}
header h1 {
  color: white;
  font-size: 44px;
  line-height: 1.5;
}

header h3 {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 5px;
}

header h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: 400px;
  line-height: 1.5;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(57, 40, 126, 0.4),
      rgba(99, 88, 143, 0.6)
    ),
    url("/images/festiwal.jpeg");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
  margin-right: 20px;
  line-height: 24px;
  text-align: justify;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.festival {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: black;
  text-decoration: none;
  display: inline-block;
}
.more {
  margin-left: 10px;
  padding-left: 10px;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 28px;
    line-height: 1;
  }
  header h2 {
    font-size: 24px;
    line-height: 1;
  }
  header h3 {
    font-size: 22px;
    line-height: 1;
  }
  .festival {
    padding: 8px 13px;
    line-height: 1;
  }
}
